html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.login-page {
    display: flex;
    font-family: 'arial', sans-serif;
    height: 100%;
    background-color: #f2edff;
}
.login-container {
    display: flex;
    align-items: stretch;
    max-width: fit-content;
    margin:auto;
    height: 100%;
}
.login-logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
}
.login-form {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
}
h1 {
    align-self: center;
}