<div class="login-page">
    <div class="login-logo">
        <img src="./indigo-logo.svg" alt="Indigo Logo">

    </div>
    <div class="login-form">
        <h1>Login</h1>
        <form [formGroup]="loginForm" (submit)="attemptLogin()">
            <label>Email</label>
            <input type="email" formControlName="email">

            <label>Password</label>
            <input type="password" formControlName="password">

            <button mat-button type="submit">Sign In</button>
        </form>
    </div>
</div>
