<div class="login-page">
    <div class="login-logo">
        <img src="./indigo-logo.svg" alt="Indigo Logo">

    </div>
    <div class="login-form">
        <h1>Login</h1>
        <form [formGroup]="loginForm" (submit)="attemptLogin()">
            
            <mat-form-field appearance="outline" color="primary">
                <mat-label>Email</mat-label>
                <input matInput  type="email">
            </mat-form-field>

            <mat-form-field appearance="outline" color="primary">
                <mat-label>Password</mat-label>
                <input matInput type="password">
            </mat-form-field>
            <button mat-button type="submit">Sign In</button>
        </form>
    </div>
</div>
