.login-page {
    display: flex;
    font-family: 'arial', sans-serif;
    height: 100%;
}
.login-logo {
    flex: 1;
}
.login-form {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
}
h1 {
    align-self: center;
}
.login-container {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}