.Goals-form {
    padding: 20px;
}

.form-Columns {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.form-LeftColumn{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.form-RightColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.form-FullWidth {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}

.date-field {
    max-width: 260px;
}

.number-field {
    max-width: 200px;
}

.form-Table {
    margin-bottom: -16px;
}

.form-Actions {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-top: 20px;
}
