<mat-dialog-content>
	<mat-card class="dialog-card">
		<div align="end">
			<button
				class="closebtn"
				matIconButton
				mat-dialog-close
				aria-label="Close dialog"
				align="end"
			>
				<mat-icon>close</mat-icon><span class="spacer"></span>
			</button>
		</div>
		<mat-card-header>
			<mat-card-title> {{titleText}} </mat-card-title>
		</mat-card-header>
		<br />
		<mat-card-content>
			<form [formGroup]="form">
				<mat-form-field class="individual-form-field--full-field">
					<mat-label>Organization Name</mat-label>
					<input matInput placeholder="name" formControlName="name" required />
					@if (form.get('name')?.hasError('required')) {
					<mat-error> Organization Name required</mat-error>
					}
				</mat-form-field>
				<br />
				<p>Type a new alias name and hit ENTER.</p>
				<chips-input-alias class="chip-list"></chips-input-alias>
				<br />
				<mat-card-subtitle>Enter Contact Information</mat-card-subtitle>
				<br />
				<mat-form-field class="individual-form-field">
					<mat-label>Email</mat-label>
					<input
						matInput
						placeholder="Email"
						formControlName="email"
						type="email"
					/>
					@if (form.get('email')?.hasError('required')) {
					<mat-error>Email required</mat-error>
					} @if (form.get('email')?.hasError('email')) {
					<mat-error>Invalid email</mat-error>
					}
				</mat-form-field>
				<mat-form-field class="individual-form-field">
					<mat-label>Phone Number</mat-label>
					<input
						matInput
						placeholder="Phone Number"
						phoneFormat
						type="tel"
						pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
						formControlName="phone"
					/>
					@if (form.get('phone')?.hasError('required')) {
					<mat-error>Phone Number required</mat-error>
					} @if (form.get('phone')?.hasError('phone')) {
					<mat-error>Invalid phone number</mat-error>
					}
				</mat-form-field>
				<br />
				<mat-card-subtitle>Enter Address</mat-card-subtitle>
				<br />
				<mat-form-field class="individual-form-field">
					<mat-label>Street Address</mat-label>
					<input
						matInput
						placeholder="Street Address"
						formControlName="addressInfo"
						required
					/>
					@if (form.get('addressInfo')?.hasError('required')) {
					<mat-error>Address Line 1 required</mat-error>
					}
				</mat-form-field>
				<mat-form-field class="individual-form-field">
					<mat-label>Street Address line 2</mat-label>
					<input
						matInput
						placeholder="Street Address line 2"
						formControlName="addressInfo2"
					/>
				</mat-form-field>
				<br />
				<mat-form-field class="individual-form-field">
					<mat-label>City</mat-label>
					<input matInput placeholder="City" formControlName="city" required />
					@if (form.get('city')?.hasError('required')) {
					<mat-error>City required</mat-error>
					}
				</mat-form-field>
				<mat-form-field class="individual-form-field">
					<mat-label>State</mat-label>
					<mat-select placeholder="State" formControlName="state" required>
						<mat-option value="Michigan"> Michigan (MI)</mat-option>
						<mat-option value="Minnesota"> Minnesota (MN) </mat-option>
						<mat-option value="Mississippi"> Mississippi (MS) </mat-option>
						<mat-option value="Missouri"> Missouri (MO) </mat-option>
						<mat-option value="Montana"> Montana (MT) </mat-option>
					</mat-select>
					@if (form.get('state')?.hasError('required')) {
					<mat-error>State required</mat-error>
					}
				</mat-form-field>
				<mat-form-field class="individual-form-field">
					<mat-label>County</mat-label>
					<input
						matInput
						placeholder="County"
						formControlName="county"
						required
					/>
					@if (form.get('county')?.hasError('required')) {
					<mat-error>County required</mat-error>
					}
				</mat-form-field>
				<br />
				<br />
				<mat-card-subtitle>Enter Representative Information</mat-card-subtitle>
				<br />
				<mat-form-field class="individual-form-field">
					<mat-label>First Name</mat-label>
					<input
						matInput
						placeholder="First Name"
						formControlName="repFirstName"
						required
					/>
					@if (form.get('repFirstName')?.hasError('required')) {
					<mat-error>Representative First Name required</mat-error>
					}
				</mat-form-field>
				<mat-form-field class="individual-form-field">
					<mat-label>Last Name</mat-label>
					<input
						matInput
						placeholder="Last Name"
						formControlName="repLastName"
						required
					/>
					@if (form.get('repLastName')?.hasError('required')) {
					<mat-error>Representative Last Name required</mat-error>
					}
				</mat-form-field>
				<br />
				<mat-form-field class="individual-form-field">
					<mat-label>Position</mat-label>
					<input
						matInput
						placeholder="Position"
						formControlName="repPosition"
						required
					/>
					@if (form.get('repPosition')?.hasError('required')) {
					<mat-error>Representative Position required</mat-error>
					}
				</mat-form-field>
				<mat-form-field class="individual-form-field">
					<mat-label>Department</mat-label>
					<input
						matInput
						placeholder="Department"
						formControlName="repDepartment"
						required
					/>
					@if (form.get('repDepartment')?.hasError('required')) {
					<mat-error>Representative Department required</mat-error>
					}
				</mat-form-field>
				<br />
				<mat-card-subtitle
					>Is the organization a community resource or service
					provider?</mat-card-subtitle
				>
				<radio-ng-model></radio-ng-model>
				<br />
				<div id="servicesOffered">
					<mat-card-subtitle>Services Offered</mat-card-subtitle>
					<mat-form-field class="individual-form-field" style="width: 100%">
						<mat-label>Description of Services</mat-label>
						<textarea matInput placeholder="Description of Services"></textarea>
					</mat-form-field>
					<br />
					<mat-form-field class="individual-form-field" style="width: 100%">
						<mat-label>Eligibility Requirements</mat-label>
						<textarea
							matInput
							placeholder="Eligibility Requirements"
						></textarea>
					</mat-form-field>
					<br />
					<mat-form-field class="individual-form-field" style="width: 100%">
						<mat-label>Intake Procedures</mat-label>
						<textarea matInput placeholder="Intake Procedures"></textarea>
					</mat-form-field>
					<br />
					<mat-form-field class="individual-form-field" style="width: 50%">
						<mat-label>Fees Charged</mat-label>
						<textarea matInput placeholder="Fees Charged"></textarea>
					</mat-form-field>
					<mat-form-field class="individual-form-field" style="width: 40%">
						<mat-label>Hours of Operation</mat-label>
						<textarea matInput placeholder="Hours of Operation"></textarea>
					</mat-form-field>
					<br />
					<mat-form-field class="individual-form-field" style="width: 100%">
						<mat-label>Other</mat-label>
						<textarea matInput placeholder="Other"></textarea>
					</mat-form-field>
				</div>
				<div>
					<div align="end">
						<br />
						@if (!form.valid) {
						<mat-error>Please fix or complete all required fields.</mat-error>
						}
					</div>
					<mat-dialog-actions>
						<button
							mat-button
							class="submitbtn"
							mat-dialog-submit
							aria-label="Submit Organization"
							align="end"
							[disabled]="!form.valid"
							(click)="addOrganizationInfo()"
						>
							Submit
						</button>
					</mat-dialog-actions>
				</div>
				<div><br /></div>
			</form>
		</mat-card-content>
	</mat-card>
	<br />
</mat-dialog-content>
