<mat-dialog-content>
    <mat-card class="dialog-card">
        <div align="end">
            <button class = "closebtn" matIconButton mat-dialog-close aria-label="Close dialog" align="end">
                <mat-icon>close</mat-icon><span class="spacer"></span>
            </button>
        </div>
        <mat-card-header>
            <mat-card-title> {{titleText}} </mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
            <form [formGroup]="form">
            <mat-form-field class="individual-form-field--full-field">
                <mat-label>Organization Name</mat-label>
                <input matInput placeholder="name" formControlName="name" required>
                <mat-error *ngIf="form.get('name')?.hasError('required')"> Organization Name required</mat-error>
            </mat-form-field>
            <br>
            <p>Type a new alias name and hit ENTER.</p>
            <chips-input-alias class="chip-list"></chips-input-alias>
            <br>
            <mat-card-subtitle>Enter Contact Information</mat-card-subtitle>
            <br>
            <mat-form-field class="individual-form-field">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email" required type="email">
                <mat-error *ngIf="form.get('email')?.hasError('required')">Email required</mat-error>
                <mat-error *ngIf="form.get('email')?.hasError('email')">Invalid email</mat-error>
            </mat-form-field>
            <mat-form-field class="individual-form-field">
                <mat-label>Phone Number</mat-label>
                <input matInput placeholder="Phone Number" phoneFormat type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" formControlName="phone" required >
                <mat-error *ngIf="form.get('phone')?.hasError('required')">Phone Number required</mat-error>
                <mat-error *ngIf="form.get('phone')?.hasError('phone')">Invalid phone number</mat-error>
            </mat-form-field>
            <br>
            <mat-card-subtitle>Enter Address</mat-card-subtitle>
            <br>
            <mat-form-field class="individual-form-field">
                <mat-label>Street Address</mat-label>
                <input matInput placeholder="Street Address"  formControlName="addressInfo" required>
                <mat-error *ngIf="form.get('addressInfo')?.hasError('required')">Address Line 1 required</mat-error>
            </mat-form-field>
            <mat-form-field class="individual-form-field">
                <mat-label>Street Address line 2</mat-label>
                <input matInput placeholder="Street Address line 2"  formControlName="addressInfo2" >
            </mat-form-field>
            <br>
            <mat-form-field class="individual-form-field">
                <mat-label>City</mat-label>
                <input matInput placeholder="City"  formControlName="city" required>
                <mat-error *ngIf="form.get('city')?.hasError('required')">City required</mat-error>
            </mat-form-field>
            <mat-form-field class="individual-form-field">
                <mat-label>State</mat-label> 
                <mat-select placeholder="State" formControlName="state" required>
                <mat-option value="Michigan"> Michigan (MI)</mat-option>
                <mat-option value="Minnesota"> Minnesota (MN) </mat-option>
                <mat-option value="Mississippi"> Mississippi (MS) </mat-option>
                <mat-option value="Missouri"> Missouri (MO) </mat-option>
                <mat-option value="Montana"> Montana (MT) </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('state')?.hasError('required')">State required</mat-error>
            </mat-form-field>
            <mat-form-field class="individual-form-field">
                <mat-label>County</mat-label>
                <input matInput placeholder="County"  formControlName="county" required>
                <mat-error *ngIf="form.get('county')?.hasError('required')">County required</mat-error>
            </mat-form-field>
            <br>
            <br>
            <mat-card-subtitle>Enter Representative Information</mat-card-subtitle>
            <br>
            <mat-form-field class="individual-form-field">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="First Name" formControlName="repFirstName" required>
                <mat-error *ngIf="form.get('repFirstName')?.hasError('required')">Representative First Name required</mat-error>
            </mat-form-field>
            <mat-form-field class="individual-form-field">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Last Name" formControlName="repLastName" required>
                <mat-error *ngIf="form.get('repLastName')?.hasError('required')">Representative Last Name required</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="individual-form-field">
                <mat-label>Position</mat-label>
                <input matInput placeholder="Position" formControlName="repPosition" required>
                <mat-error *ngIf="form.get('repPosition')?.hasError('required')">Representative Position required</mat-error>
            </mat-form-field>
            <mat-form-field class="individual-form-field">
                <mat-label>Department</mat-label>
                <input matInput placeholder="Department" formControlName="repDepartment" required>
                <mat-error *ngIf="form.get('repDepartment')?.hasError('required')">Representative Department required</mat-error>
            </mat-form-field>
            <br>
            <mat-card-subtitle>Is the organization a community resource or service provider?</mat-card-subtitle>
            <radio-ng-model></radio-ng-model>
            <br>
            <div id="servicesOffered">
                <mat-card-subtitle>Services Offered</mat-card-subtitle>
                <mat-form-field class="individual-form-field" style="width:100%;">
                    <mat-label>Description of Services</mat-label>
                    <textarea matInput placeholder="Description of Services"></textarea>
                </mat-form-field>
                <br>
                <mat-form-field class="individual-form-field" style="width:100%;">
                    <mat-label>Eligibility Requirements</mat-label>
                    <textarea matInput placeholder="Eligibility Requirements"></textarea>
                </mat-form-field>
                <br>
                <mat-form-field class="individual-form-field" style="width:100%;">
                    <mat-label>Intake Procedures</mat-label>
                    <textarea matInput placeholder="Intake Procedures"></textarea>
                </mat-form-field>
                <br>
                <mat-form-field class="individual-form-field" style="width:50%;">
                    <mat-label>Fees Charged</mat-label>
                    <textarea matInput placeholder="Fees Charged"></textarea>
                </mat-form-field>
                <mat-form-field class="individual-form-field" style="width:40%;">
                    <mat-label>Hours of Operation</mat-label>
                    <textarea matInput placeholder="Hours of Operation"></textarea>
                </mat-form-field>
                <br>
                <mat-form-field class="individual-form-field" style="width:100%;">
                    <mat-label>Other</mat-label>
                    <textarea matInput placeholder="Other"></textarea>
                </mat-form-field>
            </div>
            <div>
            <div align="end">
                <br>
                <mat-error *ngIf="!form.valid">Please fix or complete all required fields.</mat-error>
            </div>
                <mat-dialog-actions>
                    <button mat-button class = "submitbtn" mat-dialog-submit aria-label="Submit Organization" align="end" [disabled]="!form.valid" (click)="addOrganizationInfo()">
                        Submit
                    </button>
                </mat-dialog-actions>
            </div>
            <div><br></div>
        </form>
        </mat-card-content> 
    </mat-card>
    <br>
</mat-dialog-content>
  