
<div align="center">
        <div class="toolButtons" align="right">
            <button mat-icon-button matPrefix aria-label="Menu" [matMenuTriggerFor]="menu"> 
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openEditRecord('e')">
                    <mat-icon>edit</mat-icon> Edit Record
                </button>
                <button mat-menu-item> <mat-icon>folder</mat-icon>Archive Record</button>
            </mat-menu>
            
        </div>    
    
        <header align="center"> 
            <h1>View Record</h1>
        </header>
        <br>
            <mat-card class="infoCard">
                <mat-card-content>
                    <mat-card-title align="left">&nbsp; &nbsp; Organization Identification</mat-card-title>
                    <div class="primaryID">
                        <div id="name">Organization Name: {{orgRecord.name}}</div> 
                        <div id="alias"> Aliases: None listed.</div>
                    </div> 
                    
                    <br>
                    <mat-card-title align="left">&nbsp; &nbsp;Address and Contact Information</mat-card-title>
                    <mat-card-subtitle>Contact Information</mat-card-subtitle>
                    <table border="1">
                        <tr><td>&nbsp; &nbsp;Email&nbsp; &nbsp;</td> <td><div id="email">&nbsp; &nbsp; {{orgRecord.email}}&nbsp; &nbsp;</div></td></tr>
                        <tr><td>&nbsp; &nbsp;Phone&nbsp; &nbsp;</td> <td><div id="phone">&nbsp; &nbsp; {{orgRecord.phone}} &nbsp; &nbsp;</div></td></tr>
                    </table>
                    <br>
                    <mat-card-subtitle>Address</mat-card-subtitle>
                    <table border="1">
                        <tr><td>&nbsp; &nbsp;Street Address Line 1&nbsp; &nbsp;</td> <td><div id="street address">&nbsp; &nbsp; {{orgRecord.addressLine1  || "N/A"}}&nbsp; &nbsp;</div></td></tr>
                        <tr><td>&nbsp; &nbsp;Street Address Line 2&nbsp; &nbsp;</td> <td><div id="street address">&nbsp; &nbsp; {{orgRecord.addressLine2  || "N/A"}}&nbsp; &nbsp;</div></td></tr>
                        <tr><td>&nbsp; &nbsp;City</td> <td><div id="city">&nbsp; &nbsp; {{orgRecord.city  || "N/A"}}&nbsp; &nbsp;</div></td></tr>
                        <tr><td>&nbsp; &nbsp;State</td> <td><div id="state">&nbsp; &nbsp; {{orgRecord.state  || "N/A"}}&nbsp; &nbsp;</div></td></tr>
                        <tr><td>&nbsp; &nbsp;County</td> <td><div id="county">&nbsp; &nbsp; {{orgRecord.county || "N/A"}}&nbsp; &nbsp;</div></td></tr>
                    </table>
                    <br>

                    <mat-card-title align="left">&nbsp; &nbsp; Organization Representative</mat-card-title>
                    <br>
                    <table align="center" border = "1">
                        <tr>
                        <td>&nbsp; &nbsp;First Name </td><td>&nbsp; &nbsp;{{orgRecord.repFirstName || "N/A"}}&nbsp; &nbsp;</td>
                        </tr>

                        <tr>
                        <td>&nbsp; &nbsp;Last Name </td><td>&nbsp; &nbsp;{{orgRecord.repLastName || "N/A"}}&nbsp; &nbsp;</td>
                        </tr>
                        <tr>
                        <td>&nbsp; &nbsp;Department &nbsp; &nbsp;</td><td>&nbsp; &nbsp;{{orgRecord.repDepartment || "N/A"}}&nbsp; &nbsp;</td>
                        </tr>
                        <tr>
                            <td> &nbsp; &nbsp;Position </td><td>&nbsp; &nbsp;{{orgRecord.repPosition || "N/A"}}&nbsp; &nbsp;</td>
                        </tr>
                    </table>
                </mat-card-content>
            </mat-card>
            <br>
            <br>
            <div class="viewFiles">
                <mat-tab-group animationDuration="0ms">
                <mat-tab label="Information and Referral">
                    <mat-card class="infoCard">
                    <mat-card-content class="fileList">
                        @for( form of this.recordFormsList.informationAndReferrals; track form) {
                            <mat-card (click)="handleFormClick('i', form.id)">
                                <mat-card-content class="file">
                                    <table>
                                        <tr><td>{{form.date}}</td><td><span class="middleSpacer"></span></td><td>{{form.serviceRequest}}</td></tr>
                                    </table>
                                </mat-card-content>
                            </mat-card>
                            <br>
                        }
                    </mat-card-content>
                </mat-card>
                </mat-tab>
                <mat-tab label="Community, Education, and Outreach">
                    <mat-card class="infoCard">
                    <mat-card-content class="fileList">
                        @for( form of this.recordFormsList.communityEducationAndOutreaches; track form) {
                            <mat-card (click)="handleFormClick('o', form.id)">
                                <mat-card-content class="file">
                                    <table>
                                        <tr><td>{{form.initialDate}}</td><td><span class="middleSpacer"></span></td><td>{{form.category}}</td></tr>
                                    </table>
                                </mat-card-content>
                            </mat-card>
                            <br>
                        }
                    </mat-card-content>
                </mat-card>
                </mat-tab>
                <mat-tab label="Attachments">
                    <mat-card class="infoCard">
                    <mat-card-content class="fileList">
                        <mat-card>
                            <mat-card-content class="file">
                                2025-03-20 - Wheelchair event flyer
                            </mat-card-content>
                        </mat-card>
                        <br>
                        <mat-card>
                            <mat-card-content class="file">
                                2025-03-20 - Wheelchair catalog
                            </mat-card-content>
                        </mat-card>
                    </mat-card-content>
                </mat-card>
                </mat-tab>
                </mat-tab-group>
                

            </div>
            
            <br>
            <br>
            <div>
                <table outline="black">

                </table>
            </div>
            <div>
                <button mat-button  id = "addFormAttchBtn" (click)="openAddForm()">
                    <mat-icon>add</mat-icon> Add Form
                </button>
                <span id="spacer"><br> <br></span>
                <button mat-button id = "addFormAttchBtn" (click)="openAddAttachment()">
                    <mat-icon>add</mat-icon> Add Attachment
                </button>
            </div>
            <mat-card-title align="left" id="notesTitle">&nbsp; &nbsp;Notes</mat-card-title>
            <div >
            <p id="notes">these are the notes for a specific organization</p>
            </div>
            <br>
            <br>
</div>