.IandR-form {
    padding: 20px;
}

.form-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.date-field {
    max-width: 260px;
}

.form-Table {
    margin-bottom: -19px;
    border: 1px solid black;
}

.mat-column-actions button {
    float: right;
}

.add-table-row {
    border-radius: 0;
    border: 1px solid black;
    border-top: none;
}

.form-Actions {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-top: 20px;
}